@import './basic/reset.css';
@import './basic/layout.css';


@import './components/button.css';
@import './components/clock.css';
@import './components/form.css';
@import './components/mouse.css';
@import './components/progress-bar.css';

/* custom style */

.bg-primary{
    background-color: var(--color-main);
}
.bg-secondary{
    background-color: var(--color-secondary);
}


/*hero*/


.hero {
    min-height: 100vh;
    padding-bottom: 20px;
    background-image: url(../img/background.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}   

.hero > .row{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.hero .logo{
    height: 30px;
}

.hero h1{
font: 68px;
}

.hero p{
    font-size: 18px;
    color: var(--color-grey);
}

/*main*/

.left-column,
.right-column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main h2{
    font-size: 20px;
    text-transform: uppercase;
    color: var(--color-dark)
}

main p{
    font-size: 17px;
    line-height: 1.7em;
    color: var(--color-grey)
}

main p a{
    color: var(--color-secondary);
    text-decoration: none;
}

/*footer*/

footer.container {
    padding-top: 0;

}   